<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form(form) }}
</div>  


      <div class="body-header">
        <h1>Location Name</h1>
        <button class="body-header-edit" type="button" aria-label="Edit"></button>
        <div class="body-header-add-images">
          <input type="file">
          <button type="button" aria-label="Add Images">Add Images</button>
        </div>
        <button class="body-header-camera" type="button" id="button-camera" aria-label="Scan QR"></button>
      </div>